{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

<div role="main" class="main">

				<section class="page-header page-header-modern bg-color-light-scale-1 page-header-md">
					<div class="container">
						<div class="row">
							<div class="col-md-12 align-self-center p-static order-2 text-center">
								<h1 class="text-dark font-weight-bold text-8">Civil Society Building and Institutional Development </h1>
							</div>
							<div class="col-md-12 align-self-center order-1">
								<ul class="breadcrumb d-block text-center">
									<li><a href="#">Home</a></li>
									<li class="active">Project</li>
								</ul>
							</div>
						</div>
					</div>
				</section>

				<div class="container py-4">

					<div class="row">
						<div class="col">
							<div class="blog-posts single-post">

								<article class="post post-large blog-single-post border-0 m-0 p-0">
                                    
									<div class="post-content ms-0">

										<h2 class="font-weight-semi-bold"><a href="#">Civil Society Building and Institutional Development </a></h2>

										<p>SCHRPD focuses on strengthening civil society as a sector by building networks and coalitions, 
											increasing contact and collaboration between civil society and other sectors (including government), 
											and improving the legal and regulatory environment impacting civil society development. In assisting 
											the institutional development of civil society organizations, 
											SCHRPD combines formal training with tailored technical assistance services to individual organizations. </p>
											
										</div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
</div>

{% endblock content %}