{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

<div role="main" class="main">

				<section class="page-header page-header-modern bg-color-light-scale-1 page-header-md">
					<div class="container">
						<div class="row">
							<div class="col-md-12 align-self-center p-static order-2 text-center">
								<h1 class="text-dark font-weight-bold text-8">Local Governance </h1>
							</div>
							<div class="col-md-12 align-self-center order-1">
								<ul class="breadcrumb d-block text-center">
									<li><a href="#">Home</a></li>
									<li class="active">Project</li>
								</ul>
							</div>
						</div>
					</div>
				</section>

				<div class="container py-4">

					<div class="row">
						<div class="col">
							<div class="blog-posts single-post">

								<article class="post post-large blog-single-post border-0 m-0 p-0">
                                    
									<div class="post-content ms-0">

										<h2 class="font-weight-semi-bold"><a href="#">Local Governance</a></h2>

										<p>Here At SCHRPD, fruitful collaboration between constituents and their elected leaders is a critical step toward building democracy, 
                                            but is difficult to realize in countries where political power traditionally has been concentrated in the 
                                            hands of a few. Through technical assistance and training programs aimed at bringing together government 
                                            officials and the community at large, SCHRPD builds democratic linkages between citizens’ groups and 
                                            local government bodies to encourage the equitable distribution of authority and enhance local autonomy. 
                                            SCHRPD also works to increase the effectiveness of civil society in the fight against corruption.  </p>
											
										</div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
</div>

{% endblock content %}