{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

<div role="main" class="main">

				<section class="page-header page-header-modern bg-color-light-scale-1 page-header-md">
					<div class="container">
						<div class="row">
							<div class="col-md-12 align-self-center p-static order-2 text-center">
								<h1 class="text-dark font-weight-bold text-8">Displaced Persons and Refugees </h1>
							</div>
							<div class="col-md-12 align-self-center order-1">
								<ul class="breadcrumb d-block text-center">
									<li><a href="#">Home</a></li>
									<li class="active">Project</li>
								</ul>
							</div>
						</div>
					</div>
				</section>

				<div class="container py-4">

					<div class="row">
						<div class="col">
							<div class="blog-posts single-post">

								<article class="post post-large blog-single-post border-0 m-0 p-0">
                                    
									<div class="post-content ms-0">

										<h2 class="font-weight-semi-bold"><a href="#">Displaced Persons and Refugees </a></h2>

										<p>Few issues are as complex as the fate of tens of thousands of displaced persons and the need to reintegrate 
                                            mixed ethnic populations on a peaceful, lasting basis. SCHRPD is supporting the 
                                            development of local NGOs capacity to assist 
                                            the sustainable return and reintegration of refugees and displaced persons in Uganda and worldwide.   </p>
											
										</div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
</div>

{% endblock content %}