{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

<div role="main" class="main">

				<section class="page-header page-header-modern bg-color-light-scale-1 page-header-md">
					<div class="container">
						<div class="row">
							<div class="col-md-12 align-self-center p-static order-2 text-center">
								<h1 class="text-dark font-weight-bold text-8">Local Economic Development </h1>
							</div>
							<div class="col-md-12 align-self-center order-1">
								<ul class="breadcrumb d-block text-center">
									<li><a href="#">Home</a></li>
									<li class="active">Project</li>
								</ul>
							</div>
						</div>
					</div>
				</section>

				<div class="container py-4">

					<div class="row">
						<div class="col">
							<div class="blog-posts single-post">

								<article class="post post-large blog-single-post border-0 m-0 p-0">
                                    
									<div class="post-content ms-0">

										<h2 class="font-weight-semi-bold"><a href="#">Local Economic Development </a></h2>

										<p>SCHRPD provides municipalities training and technical assistance in developing local economic development strategies and plans leading to increased trade and investment. SCHRPD organizes highly participatory processes in which municipalities and stakeholders work together to develop local economic strategies and plans. </p>
											
										</div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
</div>

{% endblock content %}