{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

<div role="main" class="main">

				<section class="page-header page-header-modern bg-color-light-scale-1 page-header-md">
					<div class="container">
						<div class="row">
							<div class="col-md-12 align-self-center p-static order-2 text-center">
								<h1 class="text-dark font-weight-bold text-8">LGBTI Rights</h1>
							</div>
							<div class="col-md-12 align-self-center order-1">
								<ul class="breadcrumb d-block text-center">
									<li><a href="#">Home</a></li>
									<li class="active">Project</li>
								</ul>
							</div>
						</div>
					</div>
				</section>

				<div class="container py-4">

					<div class="row">
						<div class="col">
							<div class="blog-posts single-post">

								<article class="post post-large blog-single-post border-0 m-0 p-0">
                                    
									<div class="post-content ms-0">

										<h2 class="font-weight-semi-bold"><a href="#">LGBTI Rights</a></h2>

										<p>SCHRPD works to uphold the human rights of lesbians, gay, bisexual, transgender, intersex, and other people experiencing violence and discrimination based on sexual orientation or gender identity and expression. We collaborate
                                            with the in – country and diasporan human rights defenders focusing on countries whose laws, policies and attitude foster violence and discrimination.</p>
										<p>
                                            SCHRPD works with them to address issues ranging from laws criminalizing same sex relationships and discrimination against LGBTI people for anti – LGBTI violence by
                                             documenting and reporting on them to the international community, advocating for change in legislation and pressing for greater protection.
                                        </p>
										</div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
</div>

{% endblock content %}