{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

<div role="main" class="main">

				<section class="page-header page-header-modern bg-color-light-scale-1 page-header-md">
					<div class="container">
						<div class="row">
							<div class="col-md-12 align-self-center p-static order-2 text-center">
								<h1 class="text-dark font-weight-bold text-8">Migrant Rights</h1>
							</div>
							<div class="col-md-12 align-self-center order-1">
								<ul class="breadcrumb d-block text-center">
									<li><a href="#">Home</a></li>
									<li class="active">Project</li>
								</ul>
							</div>
						</div>
					</div>
				</section>

				<div class="container py-4">

					<div class="row">
						<div class="col">
							<div class="blog-posts single-post">

								<article class="post post-large blog-single-post border-0 m-0 p-0">
                                    
									<div class="post-content ms-0">

										<h2 class="font-weight-semi-bold"><a href="#">Migrant Rights</a></h2>

										<p>SCHRPD believes in and works for immigration systems guided by international human rights standards, allowing for a system that is orderly, safe, fair, and just.

                                            SCHRPD also works with pro bono attorneys to provide free legal services to all immigrants who are victims of human 
                                            rights abuses; we also work to reform the legal system itself by documenting and reporting on human rights abuses 
                                            and advocating for better immigration laws. Our extensive education resources help educators, individuals and 
                                            communities understand the dynamics of migration through a human rights lens.</p>
											
										</div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
</div>

{% endblock content %}