{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

<div role="main" class="main">

				<section class="page-header page-header-modern bg-color-light-scale-1 page-header-md">
					<div class="container">
						<div class="row">
							<div class="col-md-12 align-self-center p-static order-2 text-center">
								<h1 class="text-dark font-weight-bold text-8">International Advocacy</h1>
							</div>
							<div class="col-md-12 align-self-center order-1">
								<ul class="breadcrumb d-block text-center">
									<li><a href="#">Home</a></li>
									<li class="active">Project</li>
								</ul>
							</div>
						</div>
					</div>
				</section>

				<div class="container py-4">

					<div class="row">
						<div class="col">
							<div class="blog-posts single-post">

								<article class="post post-large blog-single-post border-0 m-0 p-0">
                                    
									<div class="post-content ms-0">

										<h2 class="font-weight-semi-bold"><a href="#">International Advocacy</a></h2>

										<p>SCHRPD monitors and documents human rights conditions in countries around the world and call attention to those conditions at the 
                                            United Nations and international human rights bodies through submitting reports, making oral or written statements 
                                            and directly participating in human rights body meetings and reviews of treaty compliance. We partner with 
                                            human rights defenders to conduct fact – finding and reporting and to increase their capacity to improve laws 
                                            and policies for better protection of human rights in their 
                                            countries through advocacy at the local and national level as needed at the United Nations and other international bodies.</p>
											
										</div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
</div>

{% endblock content %}