{% extends 'base.html' %}
{% load static %}
{% block content %}

<section id="elements" class="section section-height-2 border-0 mt-0 mb-0 pt-5">

					<div class="container py-2">
						<div class="row mt-3 pb-4">
							<div class="col text-center">
								<h2 class="font-weight-bold mb-0">Log In</h2>
								<p class="lead text-4 pt-2 font-weight-normal">Don't have an account?  <a href="{% url 'signup' %}">Sign Up</a> </p>
							</div>
						</div>
                    </div>
</section>  

<div id="examples" class="container  pt-2 " style="margin-bottom: 100px;">

					<div class="row justify-content-md-center">
							
							
								<div class="col-md-9">
									<div class="featured-box featured-box-primary text-start mt-0  ">
										<div class="box-content">
											<h4 class="color-primary font-weight-semibold text-4 text-uppercase mb-3">I'm a Returning User</h4>
											<form action="/" id="frmSignIn" method="post" class="needs-validation">
												<div class="row">
													<div class="form-group col">
														<label class="form-label">Username or E-mail Address</label>
														<input type="text" name="username" value="" class="form-control form-control-lg" required>
													</div>
												</div>
												<div class="row">
													<div class="form-group col">
														<label class="form-label">Password</label>
														<input type="password" name="password" value="" class="form-control form-control-lg" required>
													</div>
												</div>
												<div class="row">
													<div class="form-group col-lg-6">
														<div class="custom-control custom-checkbox">
															<input type="checkbox" name="rememberme" class="custom-control-input" id="rememberme">
															<label class="custom-control-label text-2" for="rememberme">Remember Me</label>
														</div>
													</div>
													<div class="form-group col-lg-6">
														<input type="submit" value="Login" class="btn btn-primary btn-modern float-end" data-loading-text="Loading...">
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							

						
					</div>

</div>

{% endblock content %}