{% extends 'base.html' %}

{% load static %}

{% block content %}

<div role="main" class="main">
				<section class="page-header page-header-classic page-header-sm">
					<div class="container">
						<div class="row">
							<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
								<h1 data-title-border>About Us</h1>
							</div>
							<div class="col-md-4 order-1 order-md-2 align-self-center">
								<ul class="breadcrumb d-block text-md-end">
									<li><a href="#">Home</a></li>
									<li class="active">Pages</li>
								</ul>
							</div>
						</div>
					</div>
				</section>

				<div class="container pb-1">

					<div class="row pt-4">
						<div class="col">
							<div class="overflow-hidden mb-3">
								<h2 class="word-rotator slide font-weight-bold text-8 mb-0 appear-animation" data-appear-animation="maskUp">
									<span>Defenders of all Rights </span>
									<span class="word-rotator-words bg-primary">
										<b class="is-visible">CIVIL</b>
										<b>CULTURAL</b>
										<b>POLITICAL</b>
										<b>SOCIAL</b>
										<b>ECONOMICAL</b>
									</span>
								</h2>
							</div>
						</div>
					</div>

					<div class="row mb-2">
						<div class="col-lg-10">
							<div class="overflow-hidden">
								<p class="lead mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="250">
									The Sanyuworld Centre for Human Rights, Peace and Development (SCHRPD) is an independent human rights, peace and development non – governmental organization (NGO).
								</p>
							</div>
						</div>
						<div class="col-lg-2 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="450">
							<a href="#" class="btn btn-primary mt-1">Contact Us!</a>
						</div>
					</div>
				</div>
				<section class="section section-default border-0 my-5 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="750">
					<div class="container py-4">

						<div class="row align-items-center">
							<div class="col-md-6 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1000">
								<div class="owl-carousel owl-theme nav-inside mb-0" data-plugin-options="{'items': 1, 'margin': 10, 'animateOut': 'fadeOut', 'autoplay': true, 'autoplayTimeout': 6000, 'loop': true}">
									<div>
										<img alt="" class="img-fluid" src="{% static 'img/generic/Pic2 (1) (1).jpg' %}">
									</div>
									<div>
										<img alt="" class="img-fluid" src="{% static 'img/generic/pic4 (1) (1).jpg' %}">
									</div>
								</div>
							</div>
							<div id='who' class="col-md-6">
								<div class="overflow-hidden mb-2">
									<h2 class="text-color-dark font-weight-normal text-7 mb-0 pt-0 mt-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="1200">Who <strong class="font-weight-extra-bold">We Are</strong></h2>
								</div>
								<p class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1400">We are dedicated to contribute to the promotion, protection and defense of all civil, political, economic, social and cultural rights as set out in the Universal Declaration of Human Rights of 1948, the international pact regarding civil and political rights, the Geneva Agreement of 1949 and the United Nations Conventions and their subsequent charges.</p>
								<p class="mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1600">It strives to promote democracy and the consolidation of the Rule of Law, a just international social and economic order and sustainable development which respect the environment.</p>
								<p class="mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1600">In addition, SCHRPD works to strengthen the capacities of civil society, private sector and government to work together for responsive democratic governance, social and economic development.
									SCHRPD programs provide training, technical assistance and grants designed to strengthen democratic values, institutions and processes and promote democratic governance, economic and social development.
									.</p>
							</div>
						</div>

					</div>
				</section>

				<div class="container">

					<div class="row mt-5 py-3">
						<div class="col-md-6">
							<div class="toggle toggle-primary toggle-simple m-0" data-plugin-toggle>
								<section id='vision' class="toggle active mt-0">
									<a class="toggle-title">Our Vision</a>
									<div class="toggle-content">
										<p>To become a leading independent human rights and development organization that promotes, and defends human rights and supports civil society, private sector and government to work together for responsive democratic governance, social and economic development through strengthening of their capacities around the world.</p>
									</div>
								</section>
								<section id='mission' class="toggle">
									<a class="toggle-title">Our Mission</a>
									<div class="toggle-content">
										<p>To effectively support the implementation of the Universal Declaration of Human Rights of 1948, the international pact regarding civil, political, economic, social and cultural rights, the Geneva Agreement of 1949 and the United Nations Conventions and their subsequent changes and reinforce international human rights law.</p>
									</div>
								</section>
								<section id='background' class="toggle">
									<a class="toggle-title">Background</a>
									<div class="toggle-content">
										<p>The Sanyuworld Centre for Human Rights, Peace and Development (SCHRPD) is an independent human rights, peace and development non – governmental organization (NGO) that was established in the early 2021 in Kampala, Uganda. The organization is dedicated to contribute to the promotion, protection and defense of all civil, political, economic, social and cultural rights as set out in the Universal Declaration of Human Rights of 1948, the international pact regarding civil and political rights, the Geneva Agreement of 1949 and the United Nations Conventions and their subsequent changes.</p>
									</div>
								</section>
								<section id='history' class="toggle">
									<a class="toggle-title">Our History</a>
									<div class="toggle-content">
										<p>SCHRPD started with a group of three individuals as founders seeking to leverage a unique spirit of social justice to promote and protect human rights, peace and development worldwide. Since then, our innovative programming has changed the lives of refugees and immigrants, women, ethnic and religious minorities, children, and other marginalized communities. We investigate and expose human rights violations, represent immigrants and refugees seeking asylum, train and assist groups that protect human rights, engage the public, policy-makers, and children; and push for legal reform and advocate for sound policy. 
										The SCHRPD is an independent, non-partisan, non-governmental international human rights organization. 

										</p>
									</div>
								</section>
							</div>
						</div>
						<div id='approach' class="col-md-6">
							<div class="overflow-hidden mb-2">
								<h2 class="text-color-dark font-weight-normal text-7 mb-0 pt-0 mt-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="1200">Our Approach</h2>
							</div>
							<p class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1400">The Sanyuworld Centre for Human Rights, Peace and Development (SCHRPD) believes that each one of us has a part to play in defending human rights. By engaging volunteers in hands-on human rights work, The SCHRPD not only accomplishes critical research and advocacy, we transform volunteers into advocates for human rights.</p>
							<p class="mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1600">The SCHRPD works on two levels: the systemic level and the individual direct services level. The Advocates' unique approach grounds policy work in the lived experiences of our partners and clients. When our clients experience injustice, we help them and advocate to change the systems that perpetuate those injustices. When our partners report barriers to safety and security, we identify the gaps in legal protections and develop solutions.</p>
							
						</div>
					</div>
					<div class="row">
						<div class="col py-4">
							<hr class="solid">
						</div>
					</div>
					
				</div>

				<section class="section section-default border-0 my-5 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="750">
					<div class="container py-4">

						<div class="row align-items-center">
							
							<div  class="col-md-10">
								<div class="overflow-hidden mb-2">
									<h2 class="text-color-dark font-weight-normal text-7 mb-0 pt-0 mt-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="1200">Council of Founders</h2>
								</div>
								<p class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1400">The Council of Founders of Sanyuworld Centre for Human Rights, Peace and Development (SCHRPD) shall be a permanent institution and shall operate as an organization’s Supreme Advisory Institution both during regular and emergency circumstances.</p>
								<p class="mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1600">Al - Hajji Hussein Sanyu Ali, Founder & President.</p>
								<p class="mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1600">Haruna Kasaijja Ali, Co – Founder</p>
								<p class="mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1600">Katushabe Hellen, Co – Founder</p>
							</div>
						</div>
						<div class="row align-items-center" style='margin-top:45px;'>
							
							<div  class="col-md-10">
								<div class="overflow-hidden mb-2">
									<h2 class="text-color-dark font-weight-normal text-7 mb-0 pt-0 mt-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="1200">Supreme Council</h2>
								</div>
								<p class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1400">The Sanyuworld Centre for Human Rights, Peace and Development (SCHRPD) Supreme Council is composed of dedicated people from across the world that reflects the communities that we serve. Many are activists within their own communities and all understand the importance of human rights, peace, social justice, sustainable development and supporting the oppressed communities.</p>
								<p class="mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1600">Al - Hajji Hussein Sanyu Ali, Founder & President.</p>
								<p class="mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1600">Babirye Cissy, First Deputy President </p>
							</div>
						</div>
						<div class="row align-items-center" style='margin-top:45px;'>
							
							<div  class="col-md-10">
								<div class="overflow-hidden mb-2">
									<h2 class="text-color-dark font-weight-normal text-7 mb-0 pt-0 mt-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="1200">Secretary - General</h2>
								</div>
								<p class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1400">The Sanyuworld Centre for Human Rights, Peace and Development (SCHRPD) has a secretariat headed by Secretary – General who is responsible to the Supreme Council.</p>
								<p class="mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1600">Babirye Cissy, Secretary - General.</p>
							</div>
						</div>
						<div class="row align-items-center" style='margin-top:45px;'>
							
							<div  class="col-md-10">
								<div class="overflow-hidden mb-2">
									<h2 class="text-color-dark font-weight-normal text-7 mb-0 pt-0 mt-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="1200">Advisory Council</h2>
								</div>
								<p class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1400">TThe organization is assisted by Advisory Council, which contain up to twenty – one (09) members, with at least three (3) members being eminent personalities or experts from areas of importance to the organization’s activities.</p>
							</div>
						</div>
						<div class="row align-items-center" style='margin-top:45px;'>
							
							<div  class="col-md-10">
								<div class="overflow-hidden mb-2">
									<h2 class="text-color-dark font-weight-normal text-7 mb-0 pt-0 mt-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="1200">Staff</h2>
								</div>
								<p class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1400">The staff of the Sanyuworld Centre for Human Rights, Peace and Development (SCHRPD) is composed of dedicated people with years of experience in both profit and non – profit driven projects. As well, they have the commitment to a career of social activities.</p>
							</div>
						</div>

					</div>
				</section>

				<div class="container py-4">

					<div class="row">
						<div class="col-md-8 mx-md-auto text-center">

							<h2 class="text-color-dark font-weight-normal text-7 mb-0 pt-2"> Our Leadership<strong class="font-weight-extra-bold"></strong></h2>
							<p></p>
							<!--
							<section class="timeline" id="timeline">
								<div class="timeline-body">
									<div class="timeline-date">
										<h3 class="text-primary font-weight-bold">Board of Founders</h3>
									</div>

									<article class="timeline-box left text-start appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
										<div class="timeline-box-arrow"></div>
										<div class="p-2">
											<h3 class="font-weight-bold text-3 mt-3 mb-1"></h3>
											<p class="mb-0 text-2">The Board of Founders of Sanyuworld Centre for Human Rights, Peace and Development (SCHRPD) shall be a permanent institution and shall operate as an organization’s Supreme Advisory Institution both during regular and emergency circumstances</p>
											<p class="mb-0 text-2">
												1)	Al - Hajji Hussein Sanyu Ali, Founder & President<br/> 
												2)	Haruna Kasaijja Ali, Co – Founder<br/>
												3)	Katushabe Hellen, Co - Founder<br/>

											</p>
										</div>
									</article>

									<div class="timeline-date">
										<h3 class="text-primary font-weight-bold">Supreme Council</h3>
									</div>

									<article class="timeline-box right text-start appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="400">
										<div class="timeline-box-arrow"></div>
										<div class="p-2">
											<h3 class="font-weight-bold text-3 mt-3 mb-1"></h3>
											<p class="mb-0 text-2">The Sanyuworld Centre for Human Rights, Peace and Development (SCHRPD) Supreme Council is composed of dedicated people from across the world that reflects the communities that we serve. Many are activists within their own communities and all understand the importance of human rights, peace, social justice, sustainable development and supporting the oppressed communities.</p>
										    <p class="mb-0 text-2">
												1)	Al-Hajji Hussein Sanyu Ali, President & CEO<br/>
												2)	Babirye Cissy, First Deputy President & Secretary – General<br/>
											</p>
										</div>
									</article>

									<div class="timeline-date">
										<h3 class="text-primary font-weight-bold">Secretary - General</h3>
									</div>

									<article class="timeline-box left text-start appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="600">
										<div class="timeline-box-arrow"></div>
										<div class="p-2">
											<h3 class="font-weight-bold text-3 mt-3 mb-1"></h3>
											<p class="mb-0 text-2">The Sanyuworld Centre for Human Rights, Peace and Development (SCHRPD) has a secretariat of the Secretary – General headed by Secretary – General who is responsible to the Supreme Council.</p>
										    <p class="mb-0 text-2">
												1)	Babirye Cissy, Secretary - General
											</p>
										</div>
									</article>
								</div>
							</section>
							-->

						</div>
					</div>


					<div id='pres' class="row">
						<div class="col-md-7 order-2">
							<div class="overflow-hidden">
								<h2 class="text-color-dark font-weight-bold text-8 mb-0 pt-0 mt-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="300">Al - Hajji Hussein Sanyu Ali</h2>
							</div>
							<div class="overflow-hidden mb-3">
								<p class="font-weight-bold text-primary text-uppercase mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="500">Founder & President</p>
							</div>
							<!--
							<p class="lead appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="700">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam <a href="#">vehicula</a> sit amet enim ac sagittis. Curabitur eget leo varius, elementum mauris eget, egestas quam. Donec ante risus, dapibus sed lectus non, lacinia vestibulum nisi. Morbi vitae augue quam. Nullam ac laoreet libero.</p>
							<p class="pb-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">Consectetur adipiscing elit. Aliquam iaculis sit amet enim ac sagittis. Curabitur eget leo varius, elementum mauris eget, egestas quam.</p>
							<hr class="solid my-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900">
							-->
							<div class="row align-items-center appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1000">
								<div class="col-lg-6">
								</div>
								<div class="col-sm-6 text-lg-end my-4 my-lg-0">
									<strong class="text-uppercase text-1 me-3 text-dark">follow me</strong>
									<ul class="social-icons float-lg-end">
										<li class="social-icons-facebook"><a href="#" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
										<li class="social-icons-twitter"><a href="#" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
										<li class="social-icons-linkedin"><a href="#" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!--
						<div class="col-md-5 order-md-2 mb-4 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter">
							<img src="img/team/team-1.jpg" class="img-fluid" alt="">
						</div>
						-->
					</div>

					<div class="row">
						<div class="col">
							<hr class="solid my-5">
						</div>
					</div>

					<div id='cf' class="row">
						<!--
						<div class="col-md-5 order-md-2 mb-4 mb-lg-0 appear-animation" data-appear-animation="fadeInLeftShorter">
							<img src="img/team/team-2.jpg" class="img-fluid" alt="">
						</div>
						-->
						<div class="col-md-7 order-2">
							<div class="overflow-hidden">
								<h2 class="text-color-dark font-weight-bold text-8 mb-0 pt-0 mt-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="300">Haruna Kasaijja Ali</h2>
							</div>
							<div class="overflow-hidden mb-3">
								<p class="font-weight-bold text-primary text-uppercase mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="500">Co – Founder</p>
							</div>
							<!--
							<p class="lead appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="700">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam <a href="#">vehicula</a> sit amet enim ac sagittis. Curabitur eget leo varius, elementum mauris eget, egestas quam. Donec ante risus, dapibus sed lectus non, lacinia vestibulum nisi. Morbi vitae augue quam. Nullam ac laoreet libero.</p>
							<p class="pb-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">Consectetur adipiscing elit. Aliquam iaculis sit amet enim ac sagittis. Curabitur eget leo varius, elementum mauris eget, egestas quam.</p>
							<hr class="solid my-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900">
							-->
							<div class="row align-items-center appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1000">
								<div class="col-lg-6">
								</div>
								<div class="col-sm-6 text-lg-end my-4 my-lg-0">
									<strong class="text-uppercase text-1 me-3 text-dark">follow me</strong>
									<ul class="social-icons float-lg-end">
										<li class="social-icons-facebook"><a href="#" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
										<li class="social-icons-twitter"><a href="#" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
										<li class="social-icons-linkedin"><a href="#" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col">
							<hr class="solid my-5">
						</div>
					</div>

					<div class="row">
						<div class="col-md-7 order-2">
							<div class="overflow-hidden">
								<h2 class="text-color-dark font-weight-bold text-8 mb-0 pt-0 mt-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="300">Katushabe Hellen</h2>
							</div>
							<div class="overflow-hidden mb-3">
								<p class="font-weight-bold text-primary text-uppercase mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="300">Co-Founder</p>
							</div>
							<!--
							<p class="lead appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="700">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam <a href="#">vehicula</a> sit amet enim ac sagittis. Curabitur eget leo varius, elementum mauris eget, egestas quam. Donec ante risus, dapibus sed lectus non, lacinia vestibulum nisi. Morbi vitae augue quam. Nullam ac laoreet libero.</p>
							<p class="pb-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">Consectetur adipiscing elit. Aliquam iaculis sit amet enim ac sagittis. Curabitur eget leo varius, elementum mauris eget, egestas quam.</p>
							<hr class="solid my-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900">
							-->
							<div class="row align-items-center appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1000">
								<div class="col-lg-6">
								</div>
								<div class="col-sm-6 text-lg-end my-4 my-lg-0">
									<strong class="text-uppercase text-1 me-3 text-dark">follow me</strong>
									<ul class="social-icons float-lg-end">
										<li class="social-icons-facebook"><a href="https://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
										<li class="social-icons-twitter"><a href="https://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
										<li class="social-icons-linkedin"><a href="https://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!--
						<div class="col-md-5 order-md-2 mb-4 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter">
							<img src="img/team/team-4.jpg" class="img-fluid" alt="">
						</div>
						-->
					</div>
					<div class="row">
						<div class="col">
							<hr class="solid my-5">
						</div>
					</div>

					<div id='sg' class="row">
						<div class="col-md-7 order-2">
							<div class="overflow-hidden">
								<h2 class="text-color-dark font-weight-bold text-8 mb-0 pt-0 mt-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="300">Babirye Cissy</h2>
							</div>
							<div class="overflow-hidden mb-3">
								<p class="font-weight-bold text-primary text-uppercase mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="300">Secretary - General</p>
							</div>
							<!--
							<p class="lead appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="700">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam <a href="#">vehicula</a> sit amet enim ac sagittis. Curabitur eget leo varius, elementum mauris eget, egestas quam. Donec ante risus, dapibus sed lectus non, lacinia vestibulum nisi. Morbi vitae augue quam. Nullam ac laoreet libero.</p>
							<p class="pb-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">Consectetur adipiscing elit. Aliquam iaculis sit amet enim ac sagittis. Curabitur eget leo varius, elementum mauris eget, egestas quam.</p>
							<hr class="solid my-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900">
							-->
							<div class="row align-items-center appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1000">
								<div class="col-lg-6">
								</div>
								<div class="col-sm-6 text-lg-end my-4 my-lg-0">
									<strong class="text-uppercase text-1 me-3 text-dark">follow me</strong>
									<ul class="social-icons float-lg-end">
										<li class="social-icons-facebook"><a href="https://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
										<li class="social-icons-twitter"><a href="https://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
										<li class="social-icons-linkedin"><a href="https://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!--
						<div class="col-md-5 order-md-2 mb-4 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter">
							<img src="img/team/team-4.jpg" class="img-fluid" alt="">
						</div>
						-->
					</div>

				</div>

				<!--

				<section class="section section-default border-0 my-5">
					<div class="container py-4">

						<div class="row">
							<div class="col pb-4 text-center">
								<h2 class="text-color-dark font-weight-normal text-7 mb-0 pt-2">Meet <strong class="font-weight-extra-bold">Our Team</strong></h2>
								<p>Rockstars lorem ipsum dolor sit amet, consectetur adipiscing elit ac laoreet libero.</p>
							</div>
						</div>
						<div class="row pb-4 mb-2">
							<div class="col-sm-6 col-lg-3 mb-4 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter">
								<span class="thumb-info thumb-info-hide-wrapper-bg bg-transparent border-radius-0">
									<span class="thumb-info-wrapper border-radius-0">
										<a href="about-me.html">
											<img src="img/team/team-1.jpg" class="img-fluid border-radius-0" alt="">
											<span class="thumb-info-title">
												<span class="thumb-info-inner">John Doe</span>
												<span class="thumb-info-type">CEO</span>
											</span>
										</a>
									</span>
									<span class="thumb-info-caption">
										<span class="thumb-info-caption-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan</span>
										<span class="thumb-info-social-icons">
											<a target="_blank" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
											<a href="https://www.twitter.com/"><i class="fab fa-twitter"></i><span>Twitter</span></a>
											<a href="http://www.linkedin.com/"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
										</span>
									</span>
								</span>
							</div>
							<div class="col-sm-6 col-lg-3 mb-4 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
								<span class="thumb-info thumb-info-hide-wrapper-bg bg-transparent border-radius-0">
									<span class="thumb-info-wrapper border-radius-0">
										<a href="about-me.html">
											<img src="img/team/team-2.jpg" class="img-fluid border-radius-0" alt="">
											<span class="thumb-info-title">
												<span class="thumb-info-inner">Jessica Doe</span>
												<span class="thumb-info-type">Marketing</span>
											</span>
										</a>
									</span>
									<span class="thumb-info-caption">
										<span class="thumb-info-caption-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan</span>
										<span class="thumb-info-social-icons">
											<a target="_blank" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
											<a href="https://www.twitter.com/"><i class="fab fa-twitter"></i><span>Twitter</span></a>
											<a href="http://www.linkedin.com/"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
										</span>
									</span>
								</span>
							</div>
							<div class="col-sm-6 col-lg-3 mb-4 mb-sm-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="400">
								<span class="thumb-info thumb-info-hide-wrapper-bg bg-transparent border-radius-0">
									<span class="thumb-info-wrapper border-radius-0">
										<a href="about-me.html">
											<img src="img/team/team-3.jpg" class="img-fluid border-radius-0" alt="">
											<span class="thumb-info-title">
												<span class="thumb-info-inner">Rick Edward Doe</span>
												<span class="thumb-info-type">Developer</span>
											</span>
										</a>
									</span>
									<span class="thumb-info-caption">
										<span class="thumb-info-caption-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan</span>
										<span class="thumb-info-social-icons">
											<a target="_blank" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
											<a href="https://www.twitter.com/"><i class="fab fa-twitter"></i><span>Twitter</span></a>
											<a href="http://www.linkedin.com/"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
										</span>
									</span>
								</span>
							</div>
							<div class="col-sm-6 col-lg-3 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="600">
								<span class="thumb-info thumb-info-hide-wrapper-bg bg-transparent border-radius-0">
									<span class="thumb-info-wrapper border-radius-0">
										<a href="about-me.html">
											<img src="img/team/team-4.jpg" class="img-fluid border-radius-0" alt="">
											<span class="thumb-info-title">
												<span class="thumb-info-inner">Melinda Wolosky</span>
												<span class="thumb-info-type">Design</span>
											</span>
										</a>
									</span>
									<span class="thumb-info-caption">
										<span class="thumb-info-caption-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan</span>
										<span class="thumb-info-social-icons">
											<a target="_blank" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
											<a href="https://www.twitter.com/"><i class="fab fa-twitter"></i><span>Twitter</span></a>
											<a href="http://www.linkedin.com/"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
										</span>
									</span>
								</span>
							</div>
						</div>
					</div>
				</section>

			-->

				

</div>


{% endblock content %}