{% extends 'base.html' %}
{% load static %}
{% block content %}

<div role="main" class="main">
				<div class="owl-carousel owl-carousel-light owl-carousel-light-init-fadeIn owl-theme manual dots-inside dots-horizontal-center show-dots-hover show-dots-xs nav-style-1 nav-inside nav-inside-plus nav-dark nav-lg nav-font-size-lg show-nav-hover mb-0" data-plugin-options="{'autoplayTimeout': 7000}" data-dynamic-height="['650px','650px','650px','550px','500px']" style="height: 650px;">
					<div class="owl-stage-outer">
						<div class="owl-stage">

							<!-- Carousel Slide 1 -->
							<div class="owl-item position-relative" style="background-image: url(/static/img/slides/activism\ \(3\).png); background-size: cover; background-position: center;">
								<div class="container position-relative z-index-1 h-100">
									<div class="row align-items-center h-100">
										<div class="col-lg-6 text-center">
											<div class="d-flex flex-column align-items-center justify-content-center h-100">
												<h3 class="position-relative text-color-dark text-5 line-height-5 font-weight-medium ls-0 px-4 mb-2 appear-animation" data-appear-animation="fadeInDownShorterPlus" data-plugin-options="{'minWindowWidth': 0}">
													<span class="position-absolute right-100pct top-50pct transform3dy%-n50">
														<img src="{% static 'img/slides/slide-title-border-light.png' %}" class="w-auto appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" />
													</span>
													We stand up  <span class="position-relative">for <span class="position-absolute left-50pct transform3dx-n50 top-0 mt-4"><img src="{% static 'img/slides/slide-blue-line.png' %}" class="w-auto appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="1000" data-plugin-options="{'minWindowWidth': 0}" alt="" /></span></span>
													<span class="position-absolute left-100pct top-50pct transform3dy-n50">
														<img src="{% static 'img/slides/slide-title-border-light.png' %}" class="w-auto appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" />
													</span>
												</h3>
												<h1 class="text-color-dark font-weight-extra-bold text-12-5 line-height-1 mb-2 appear-animation" data-appear-animation="blurIn" data-appear-animation-delay="500" data-plugin-options="{'minWindowWidth': 0}">THE VOICELESS!</h1>
												<p class="text-4-5 text-color-dark font-weight-light mb-0" data-plugin-animated-letters data-plugin-options="{'startDelay': 1000, 'minWindowWidth': 0}">See how you can be a part of our initiatives</p>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- Carousel Slide 2 -->
							<div class="owl-item position-relative overflow-hidden">
								<div class="background-image-wrapper position-absolute top-0 left-0 right-0 bottom-0" data-appear-animation="kenBurnsToRight" data-appear-animation-duration="13s" data-plugin-options="{'minWindowWidth': 0}" data-carousel-onchange-show style="background-image: url( /static/img/slides/activism\ \(4\).png); background-size: cover; background-position: center;"></div>
								<div class="container position-relative z-index-3 h-100">
									<div class="row justify-content-center align-items-center h-100">
										<div class="col-lg-7">
											<div class="d-flex flex-column align-items-center">
												<h2 class="text-color-dark font-weight-extra-bold text-12-5 line-height-1 text-center mb-3 appear-animation" data-appear-animation="blurIn" data-appear-animation-delay="500" data-plugin-options="{'minWindowWidth': 0}">FIGHTING FOR EQUALITY</h2>
												<p class="text-4-5 text-color-dark font-weight-light text-center mb-4" data-plugin-animated-letters data-plugin-options="{'startDelay': 1000, 'minWindowWidth': 0, 'animationSpeed': 30}">We believe every life All lives deserve dignity and equality</p>
												<a href="contact-us.html" class="btn btn-primary btn-modern font-weight-bold text-2 py-3 btn-px-5 mt-2 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="2500" data-plugin-options="{'minWindowWidth': 0}">GET INVOLVED IN OUR INITIATIVES <i class="fas fa-arrow-right ms-2"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
					<div class="owl-nav">
						<button type="button" role="presentation" class="owl-prev"></button>
						<button type="button" role="presentation" class="owl-next"></button>
					</div>
					<div class="owl-dots mb-5">
						<button role="button" class="owl-dot active"><span></span></button>
						<button role="button" class="owl-dot"><span></span></button>
					</div>
				</div>
				<!--
				<section class="section bg-color-light border-0 m-0">
					<div class="container">
						<div class="row text-center text-md-start">
							<div class="col-md-4 mb-4 mb-md-0 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200">
								<div class="row align-items-center justify-content-center justify-content-md-start">
									<div class="col-4">
										<img class="img-fluid mb-4 mb-lg-0" src="img/icons/seo-grey.png" alt="">
									</div>
									<div class="col-lg-8">
										<h2 class="font-weight-bold text-5 line-height-5 mb-1">SEO Optimization</h2>
										<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 mb-4 mb-md-0 appear-animation" data-appear-animation="fadeIn">
								<div class="row align-items-center justify-content-center justify-content-md-start">
									<div class="col-4">
										<img class="img-fluid mb-4 mb-lg-0" src="img/icons/marketing-grey.png" alt="">
									</div>
									<div class="col-lg-8">
										<h2 class="font-weight-bold text-5 line-height-5 mb-1">Pro Marketing Ads</h2>
										<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
								<div class="row align-items-center justify-content-center justify-content-md-start">
									<div class="col-4">
										<img class="img-fluid mb-4 mb-lg-0" src="img/icons/support-grey.png" alt="">
									</div>
									<div class="col-lg-8">
										<h2 class="font-weight-bold text-5 line-height-5 mb-1">Secure Support</h2>
										<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			-->
				<section class="section section-height-3 bg-color-grey-scale-1 m-0 border-0">
					<div class="container">
						<div class="row align-items-center justify-content-center">
							<div class="col-lg-6 pb-sm-4 pb-lg-0 pe-lg-5 mb-sm-5 mb-lg-0">
								<h2 class="text-color-dark font-weight-normal text-6 mb-2">Who <strong class="font-weight-extra-bold">We Are</strong></h2>
								<p class="lead pe-lg-5 me-lg-5">The Sanyuworld Centre for Human Rights, Peace and Development (SCHRPD) is an independent human rights, peace and development non – governmental organization (NGO). </p>
								<p>We are dedicated to contribute to the promotion, protection and defense of all civil, political, economic, social and cultural rights as set out in the Universal Declaration of Human Rights of 1948, the international pact regarding civil and political rights, the Geneva Agreement of 1949 and the United Nations Conventions and their subsequent changes.</p>
								<a href="{% url 'about' %}" class="btn btn-dark font-weight-semibold btn-px-4 btn-py-2 text-2">LEARN MORE</a>
							</div>
							<div class="col-sm-8 col-md-6 col-lg-4 offset-sm-4 offset-md-4 offset-lg-2 position-relative mt-sm-5" style="top: 1.7rem;">
								<img src="{% static 'img/generic/generic.png' %}" class="img-fluid position-absolute d-none d-sm-block appear-animation" data-appear-animation="expandIn" data-appear-animation-delay="300" style="top: 10%; left: -50%;" alt="" />
								<img src="{% static 'img/generic/generic1.png' %}" class="img-fluid position-absolute d-none d-sm-block appear-animation" data-appear-animation="expandIn" style="top: -33%; left: -29%;" alt="" />
								<img src="{% static 'img/generic/generic2.png' %}" class="img-fluid position-relative appear-animation mb-2" data-appear-animation="expandIn" data-appear-animation-delay="600" alt="" />
							</div>
						</div>
					</div>
				</section>
			<!--
				<div class="container">
					<div class="row py-5 my-5">
						<div class="col-md-6 order-2 order-md-1 text-center text-md-start appear-animation mt-2 pt-1" data-appear-animation="fadeInRightShorter">
							<div class="owl-carousel owl-theme nav-style-1 mb-0" data-plugin-options="{'responsive': {'576': {'items': 1}, '768': {'items': 1}, '992': {'items': 2}, '1200': {'items': 2}}, 'margin': 25, 'loop': true, 'nav': false, 'dots': false, 'autoplay': true, 'autoplayTimeout': 3000}">
								<div>
									<img class="img-fluid rounded-0 mb-4" src="img/team/team-1.jpg" alt="" />
									<h3 class="font-weight-bold text-color-dark text-4 mb-0">John Doe</h3>
									<p class="text-2 mb-0">CEO</p>
								</div>
								<div>
									<img class="img-fluid rounded-0 mb-4" src="img/team/team-2.jpg" alt="" />
									<h3 class="font-weight-bold text-color-dark text-4 mb-0">Jessica Doe</h3>
									<p class="text-2 mb-0">CEO</p>
								</div>
								<div>
									<img class="img-fluid rounded-0 mb-4" src="img/team/team-3.jpg" alt="" />
									<h3 class="font-weight-bold text-color-dark text-4 mb-0">Chris Doe</h3>
									<p class="text-2 mb-0">DEVELOPER</p>
								</div>
								<div>
									<img class="img-fluid rounded-0 mb-4" src="img/team/team-4.jpg" alt="" />
									<h3 class="font-weight-bold text-color-dark text-4 mb-0">Julie Doe</h3>
									<p class="text-2 mb-0">SEO ANALYST</p>
								</div>
								<div>
									<img class="img-fluid rounded-0 mb-4" src="img/team/team-5.jpg" alt="" />
									<h3 class="font-weight-bold text-color-dark text-4 mb-0">Robert Doe</h3>
									<p class="text-2 mb-0">DESIGNER</p>
								</div>
							</div>
						</div>
						<div class="col-md-6 order-1 order-md-2 text-center text-md-start mb-5 mb-md-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
							<h2 class="text-color-dark font-weight-normal text-6 mb-2">Meet <strong class="font-weight-extra-bold">Our Team</strong></h2>
							<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit massa enim. Nullam id varius nunc.</p>
							<p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc. Vivamus bibendum magna ex, et faucibus lacus venenatis eget.</p>
							<a href="page-team.html" class="btn btn-dark font-weight-semibold rounded-0 px-5 btn-py-2 text-2 p-relative bottom-3">LEARN MORE</a>
						</div>
					</div>
				</div>
			-->
				<section class="section section-height-3 bg-primary border-0 m-0 appear-animation" data-appear-animation="fadeIn">
					<div class="container">
						<div class="row">
							<div class="col appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
								<h2 class="font-weight-bold text-color-light text-6 mb-4">Some of our projects</h2>
							</div>
						</div>
						<div class="row recent-posts appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
							<div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
								<article>
									<div class="row">
										<div class="col ps-1">
											<h4 class="line-height-3 text-4"><a href="#" class="text-light">Human Rights</a></h4>
											<p class="text-color-light line-height-5 opacity-6 pe-4 mb-1">SCHRPD provides technical assistance, training and grants to local human rights organizations in support of human rights education, advocacy, monitoring</p>
											<a href="{% url 'projects' %}" class="read-more text-color-light font-weight-semibold text-2">read more <i class="fas fa-chevron-right text-1 ms-1"></i></a>
										</div>
									</div>
								</article>
							</div>
							<div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
								<article>
									<div class="row">
										<div class="col ps-1">
											<h4 class="line-height-3 text-4"><a href="#" class="text-light">Rule of Law </a></h4>
											<p class="text-color-light line-height-5 opacity-6 pe-4 mb-1">SCHRPD assists CSOs (including bar associations) in providing legal services to the needy, increasing access to justice, and promoting the rule of law.</p>
											<a href="{% url 'projects' %}" class="read-more text-color-light font-weight-semibold text-2">read more <i class="fas fa-chevron-right text-1 ms-1"></i></a>
										</div>
									</div>
								</article>
							</div>
							<div class="col-md-6 col-lg-3 mb-4 mb-md-0">
								<article>
									<div class="row">
										<div class="col ps-1">
											<h4 class="line-height-3 text-4"><a href="#" class="text-light">Advocacy </a></h4>
											<p class="text-color-light line-height-5 opacity-6 pe-4 mb-1">We at SCHRPD, citizen engagement in democratic processes is often achieved through advocacy. SCHRPD is a leader in CSO advocacy training .</p>
											<a href="{% url 'projects' %}" class="read-more text-color-light font-weight-semibold text-2">read more <i class="fas fa-chevron-right text-1 ms-1"></i></a>
										</div>
									</div>
								</article>
							</div>
							<div class="col-md-6 col-lg-3">
								<article>
									<div class="row">
										<div class="col ps-1">
											<h4 class="line-height-3 text-4"><a href="#" class="text-light">LGBTI Rights</a></h4>
											<p class="text-color-light line-height-5 opacity-6 pe-4 mb-1">SCHRPD works to uphold the human rights of lesbians, gay, bisexual, transgender, intersex, and other people experiencing violence and discrimination based on sexual orientation</p>
											<a href="{% url 'projects' %}" class="read-more text-color-light font-weight-semibold text-2">read more <i class="fas fa-chevron-right text-1 ms-1"></i></a>
										</div>
									</div>
								</article>
							</div>
						</div>
					</div>
				</section>

				<section  class="section bg-color-grey-scale-1 section-height-3 border-0 m-0">
					<div class="container">
						<div class="row" >
							<div class="col-md-9 col-lg-9">
								<div class="call-to-action-content">
									<h2 class="font-weight-normal text-6 mb-0">We appreciate all the <strong class="font-weight-extra-bold">help</strong> and  <strong class="font-weight-extra-bold">assistance</strong> provided to us!</h2>
									<p class="mb-0">Incase you would like to assist us financially feel free to donate any amount, every little helps</p>
								</div>
							</div>
							<div class="col-md-3 col-lg-3" >
								<div class="call-to-action-btn">
									<a href="#" target="_blank" class="btn btn-dark btn-lg text-3 font-weight-semibold px-4 py-3">Donate Now</a><span class="arrow hlb d-none d-md-block" data-appear-animation="rotateInUpLeft" style="top: -40px; left: 70%;"></span>
								</div>
							</div>
						</div>
					</div>
				</section>
</div>

{% endblock content %}