{% extends 'base.html' %}

{% load static %}

{% block content %}

<div role="main" class="main">
                <section class="page-header page-header-classic page-header-sm">
					<div class="container">
						<div class="row">
							<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
								<h1 data-title-border>Our Projects</h1>
							</div>
							<div class="col-md-4 order-1 order-md-2 align-self-center">
								<ul class="breadcrumb d-block text-md-end">
									<li><a href="#">Home</a></li>
									<li class="active">Pages</li>
								</ul>
							</div>
						</div>
					</div>
				</section>

				<div class="container">
					<section class="call-to-action  button-centered mb-5">
						<div class="col-12">
							<div class="call-to-action-content">
								<h3>SCHRPD  has a diverse portfolio of programs in Uganda and elsewhere around the world</h3>
								<p class="mb-0">that foster human rights, civil society, democracy, social and economic development. SCHRPD's approach focuses on tailoring programs to the needs of its beneficiaries in order to ensure that programs are demand-driven and sustainable. </p>
							</div>
						</div>
					</section>

					<div class="row py-4">
						<div class="col-md-6 col-lg-4 mb-5  appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">

							<div class="card border-0 border-radius-0 bg-color-grey">
								<div class="card-body">
									<h4 class="card-title mb-1 text-4 font-weight-bold">Human Rights</h4>
									<a href="{% url 'p1' %}" class="btn btn-primary btn-modern">read more</a>
								</div>
							</div>

						</div>
						<div class="col-md-6 col-lg-4 mb-5  appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">

							<div class="card border-0 border-radius-0 bg-color-grey">
								<div class="card-body">
									<h4 class="card-title mb-1 text-4 font-weight-bold">Rule of Law</h4>
									<a href="{% url 'p2' %}" class="btn btn-primary btn-modern">read more</a>
								</div>
							</div>

						</div>
						<div class="col-md-6 col-lg-4 mb-5  appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">

							<div class="card border-0 border-radius-0 bg-color-grey">
								<div class="card-body">
									<h4 class="card-title mb-1 text-4 font-weight-bold">Advocacy</h4>
									<a href="{% url 'p3' %}" class="btn btn-primary btn-modern">read more</a>
								</div>
							</div>

						</div>
						<div class="col-md-6 col-lg-4 mb-5  appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">

							<div class="card border-0 border-radius-0 bg-color-grey">
								<div class="card-body">
									<h4 class="card-title mb-1 text-4 font-weight-bold">LGBTI Rights</h4>
									<a href="{% url 'p4' %}" class="btn btn-primary btn-modern">read more</a>
								</div>
							</div>

						</div>
						<div class="col-md-6 col-lg-4 mb-5  appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">

							<div class="card border-0 border-radius-0 bg-color-grey">
								<div class="card-body">
									<h4 class="card-title mb-1 text-4 font-weight-bold">Women Rights</h4>
									<a href="{% url 'p18' %}" class="btn btn-primary btn-modern">read more</a>
								</div>
							</div>

						</div>
						<div class="col-md-6 col-lg-4 mb-5  appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">

							<div class="card border-0 border-radius-0 bg-color-grey">
								<div class="card-body">
									<h4 class="card-title mb-1 text-4 font-weight-bold">Transitional Justice</h4>
									<a href="{% url 'p5' %}" class="btn btn-primary btn-modern">read more</a>
								</div>
							</div>

						</div>
						<div class="col-md-6 col-lg-4 mb-5  appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">

							<div class="card border-0 border-radius-0 bg-color-grey">
								<div class="card-body">
									<h4 class="card-title mb-1 text-4 font-weight-bold">Migrant Rights</h4>
									<a href="{% url 'p6' %}" class="btn btn-primary btn-modern">read more</a>
								</div>
							</div>

						</div>
						<div class="col-md-6 col-lg-4 mb-5  appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">

							<div class="card border-0 border-radius-0 bg-color-grey">
								<div class="card-body">
									<h4 class="card-title mb-1 text-4 font-weight-bold">Human Trafficking</h4>
									<a href="{% url 'p7' %}" class="btn btn-primary btn-modern">read more</a>
								</div>
							</div>

						</div>
						<div class="col-md-6 col-lg-4 mb-5  appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">

							<div class="card border-0 border-radius-0 bg-color-grey">
								<div class="card-body">
									<h4 class="card-title mb-1 text-4 font-weight-bold">International Advocacy</h4>
									<a href="{% url 'p8' %}" class="btn btn-primary btn-modern">read more</a>
								</div>
							</div>

						</div>
						<div class="col-md-6 col-lg-4 mb-5  appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">

							<div class="card border-0 border-radius-0 bg-color-grey">
								<div class="card-body">
									<h4 class="card-title mb-1 text-4 font-weight-bold">Civic Education</h4>
									<a href="{% url 'p9' %}" class="btn btn-primary btn-modern">read more</a>
								</div>
							</div>

						</div>
						<div class="col-md-6 col-lg-4 mb-5  appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">

							<div class="card border-0 border-radius-0 bg-color-grey">
								<div class="card-body">
									<h4 class="card-title mb-1 text-4 font-weight-bold">Civil Society Building</h4>
									<a href="{% url 'p10' %}" class="btn btn-primary btn-modern">read more</a>
								</div>
							</div>

						</div>
						<div class="col-md-6 col-lg-4 mb-5  appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">

							<div class="card border-0 border-radius-0 bg-color-grey">
								<div class="card-body">
									<h4 class="card-title mb-1 text-4 font-weight-bold">Community Mobilization</h4>
									<a href="{% url 'p11' %}" class="btn btn-primary btn-modern">read more</a>
								</div>
							</div>


						</div>
						<div class="col-md-6 col-lg-4 mb-5  appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">

							<div class="card border-0 border-radius-0 bg-color-grey">
								<div class="card-body">
									<h4 class="card-title mb-1 text-4 font-weight-bold">Electoral Processes</h4>
									<a href="{% url 'p19' %}" class="btn btn-primary btn-modern">read more</a>
								</div>
							</div>

						</div>
						<div class="col-md-6 col-lg-4 mb-5  appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">

							<div class="card border-0 border-radius-0 bg-color-grey">
								<div class="card-body">
									<h4 class="card-title mb-1 text-4 font-weight-bold">Local Governance</h4>
									<a href="{% url 'p12' %}" class="btn btn-primary btn-modern">read more</a>
								</div>
							</div>

						</div>
						<div class="col-md-6 col-lg-4 mb-5  appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">

							<div class="card border-0 border-radius-0 bg-color-grey">
								<div class="card-body">
									<h4 class="card-title mb-1 text-4 font-weight-bold">Displaced Persons and Refugees</h4>
									<a href="{% url 'p13' %}" class="btn btn-primary btn-modern">read more</a>
								</div>
							</div>

						</div>
						<div class="col-md-6 col-lg-4 mb-5  appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">

							<div class="card border-0 border-radius-0 bg-color-grey">
								<div class="card-body">
									<h4 class="card-title mb-1 text-4 font-weight-bold">Independent Media</h4>
									<a href="{% url 'p14' %}" class="btn btn-primary btn-modern">read more</a>
								</div>
							</div>

						</div>
						<div class="col-md-6 col-lg-4 mb-5  appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">

							<div class="card border-0 border-radius-0 bg-color-grey">
								<div class="card-body">
									<h4 class="card-title mb-1 text-4 font-weight-bold">SME Development</h4>
									<a href="{% url 'p15' %}" class="btn btn-primary btn-modern">read more</a>
								</div>
							</div>

						</div>
						<div class="col-md-6 col-lg-4 mb-5  appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">

							<div class="card border-0 border-radius-0 bg-color-grey">
								<div class="card-body">
									<h4 class="card-title mb-1 text-4 font-weight-bold">Local Economic Development</h4>
									<a href="{% url 'p16' %}" class="btn btn-primary btn-modern">read more</a>
								</div>
							</div>

						</div>

					</div>

				</div>

			</div>

{% endblock content %}